body{
  font-size: 18px;
  color: white;
  font-family: 'Roboto', sans-serif;
}

.btn__return{
  padding: 12px;
  padding-left: 0;
}

.btn__return img{
  width: 24px;
  cursor: pointer;
}

.movie-info {
  display: flex;
  /* outline: 1px solid blue; */
  justify-content: space-between;
}

.info{
  width: 550px;
  /* outline: 1px solid red; */
}

.info__title-year-rate{
  /* outline: 1px solid green; */
  display: flex;
  color: #7a8c99;
  width: 250px;
  /* font-size: 20px; */
  font-size: 14.7pt;
  font-weight: 400;
  height: 38px;
  align-items: center;
  margin-top: 2px;
  margin-bottom: -60px;
  word-spacing: 1.2px;
  /* letter-spacing: 0.1px; */
  /* line-height: 5px; */
}


.info__title-year-rate__rate{
  color: #0a1014;
  background: #7a8c99;
  border-radius: 5px;
  padding: 4px 6px;
  font-size: 16px;
  font-weight: 600;
}

.info__title-year-rate__title{
  font-size: 80px;
  letter-spacing: 1.8px;
  line-height: 87px;
  word-spacing: 0px;
  font-weight:700;
  width: 600px;
  word-spacing: -4px;
  margin-bottom: -48px;
}

.labels{
  display: flex;
  margin-bottom: 48px;
}

.labels > div{
  border-radius: 5px;
  height: 37px;
  margin-right: 16px;
  display: flex;
  align-items: center;
}

.labels__imdb {
  width: 115px;
  border: 1px solid #353f4c;
  border-left: none;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  font-size: 15px;
}
.labels__imdb .logo{
  display: flex;
  align-items: center;
  background-color: #ff9f1c;
  height: 100%;
  border: 1px solid #ff9f1c;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
.labels__imdb .logo img {
  padding: 0 7px;
}

.labels__rottenTomatoes .rating,
.labels__imdb .rating {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 38px;
  width: 100%;
}

.labels__rottenTomatoes{
  width: 85px;
  border: 1px solid #353f4c;
  border-left: none;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  font-size: 15px;
}

.labels__rottenTomatoes .logo{
  display: flex;
  align-items: center;
  background: #ff4040;
  height: 100%;
  border: 1px solid #ff4040;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.labels__rottenTomatoes .logo img {
  padding: 0 10px;
}

.labels__favorite{
  display: flex;
  border: 1px solid #353f4c;
  font-size: 16px;
  font-weight: 500;
  color: #7a8c99;
  cursor: pointer;
}
.icon{
  display: flex;
  padding: 12px;
}
.icon img{
  width: 16px;
}

.text{
  padding: 12px;
  padding-left: 0px;
}

.added{
  color: white;
}

.favAdded{
  background: #ff4040;
  border: 1px solid #ff4040;
}


.plot-segment {
  width: 472px;
  margin-bottom: 26px;
}


.plot-segment 
.segment-info{
  line-height: 23px;
}

.segment-title{
  font-size: 15px;
  font-weight: bold;
  color: #7a8c99;
}

.segment-info{
  font-size: 16px;
  font-weight: 300;
  letter-spacing: 0.16px; 
}

.cast-genre-director{
  display: flex;
  justify-content: space-between;
  /* outline: 1px solid red; */
  width: 458px;
}

.genre-segment .segment-info,
.director-segment .segment-info,
.cast-segment .segment-info{
  line-height: 7pt;
  letter-spacing: 0.16pt;
}


.poster img{
  border-radius: 5px;
  width: 480px;
  height: 635px;
}



