body {
  margin: 85px;
  font-size: 16px;
  line-height: 24px;
  font-family: 'Roboto', sans-serif;
  background: #0a1014;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* spinner */
.centerSpinner {
  margin-top: 50px;
  text-align: center
}
/* spinner ends */


.searchBar {
  display: flex;
}

.searchBar input{
  border-radius: 5px;
  width: 100%;
  padding: 12px 12px 12px 16px;
}

.homeLogo {
  display: flex;
  justify-content: center;
  margin-top: 243px;
}



.homeMsg {
  margin-top: 43px;
  text-align: center;
  line-height: 14px;
}

.primary{
  color: white;
  font-weight: bolder;
  font-size: 24px;
  letter-spacing: 0.4px;

}

.secondary{
  color: #6F7F8C;
  font-size: 17px;
  font-weight: lighter;
}

.movies {
  margin: 30px auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  justify-self: center;
  align-items: center;
}

.moviePoster{
  width: 180px;
  height: 240px;
  margin-bottom: 15px;
  border-radius: 5px;
}


.movie{
  position: relative;
}

.movie:before{
  content: "";
  position: absolute;
  width: 180px;
  height: 240px;
  top: 0;
  left: 0;
  right: 0;
  background-color:rgba(0,0,0,0);
  pointer-events: visible;
}

.movie:hover::before{
  background-color:rgba(0,0,0,0.6);
}

.movie .icon{
  position: absolute;
  width: 22px;
  margin: 12px;
  right: 0;
  opacity: 0;
  cursor: pointer;
}

.movie .movieTitle{
  position: absolute;
  color: #ffffff;
  padding: 12px;
  left: 0;
  bottom: 20px;
  font-size: 18px;
  font-weight: 500;
  opacity: 0;
  pointer-events: none;
}

.movie .movieYear{
  position: absolute;
  color: #ffffff;
  padding: 12px;
  left: 0;
  bottom: 0;
  opacity: 0;
  font-size: 16px;
  pointer-events: none;
}

.movie:hover .icon,
.movie:hover .movieTitle,
.movie:hover .movieYear{
  opacity: 1;
}

.movie .invisibleButton {
  position: absolute;
  /* height: 144px; */
  height: 194px;
  width: 180px;
  /* outline: 1px solid red; */
  top: 40px;
  opacity: 1;
  cursor: pointer;
}


.empty-space{
  width: 180px;
}




